@media (max-width: 768px) {
    #main-nav ul {
        flex-direction: column;
        display: none;
    }

    #main-nav.show ul {
        display: flex;
    }

    #menu-toggle {
        display: block;
    }

    main {
        padding: 1rem;
    }
}