main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

form {
    flex: 1;
    max-width: 600px;
}

.membership-cards {
    flex: 1;
}

/* For large screens (768px+) */
@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
        align-items: flex-start;
    }

    form {
        margin-right: 2rem;
    }

    .membership-cards {
        justify-content: flex-start;
    }
}